/**import fonts**/
@font-face {
    font-family: 'Brusher';
    src: url('./assets/Brusher.ttf');
}

/** body **/
html, 
body {
    font-family: 'Oswald', sans-serif;
    color: #000;
    height: 100%;
}

/** general settings **/
h1, 
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    color: #B97;
}

h4,
h5,
h6 {
    color:#B97;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}

p {
    color: #000;
    text-align: justify;
}

li > a {
    color: #000!important;
}

li > a:hover {
    color: #B97!important;
} 

li > a:active {
    color: #B97!important;
}

/** navbar section **/
.navbar {
    background-color: transparent!important;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}

.logo_nav {
    width: 100px;
}

/**carousel section**/
.carousel-item {
    background-image: url('./assets/close-up-photo-of-yearly-planner-beside-a-pen-1558691.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 10px;
}

.view {
    height: 100%;
    padding: 10px;
}

.logo-text {
    text-transform: uppercase;
    color: #000;
}

.logo {
    font-family: 'Brusher';
    font-size: 50px;
}

.text_logo {
    font-size: 20px;
}

span {
    color: #B97;
}

.btn_carousel {
    padding: 5px;
    border-radius: 3px;
    background-color: #B97;
    color: #fff!important;
    text-transform: uppercase;
}

.btn_carousel:hover {
    color: #000!important;
}

.btn_carousel:active {
    color: #fff!important;
}

/** subscribe section**/
.input-group-lg {
    border-radius:3px;
}

.form-control {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px!important;
}

.subscribe_form {
    background-color: #222;
}


/**footer section**/
footer {
    background-color: #222!important;
    color: #fff;
}

.footer-icons > a  {
    color: #B97;
}

.footer-copyright > p > a {
    color: #B97;
}



